root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_size = 4
indent_size = -1
indent_style = tab

[*.ui]
tab_size = 2

[*.{xml.in,xml}]
tab_size = 2

[meson.*]
tab_size = 2