.tl-badge {
	border-radius: 999px;
	padding: 3px 16px;

	background-color: alpha(var(--accent-bg-color), 0.20);
	color: var(--accent-color);
	font-weight: 700;
}

.tl-text-large {
	font-size: 118%;
}

statuspage.tl-with-badge > scrolledwindow > viewport > box > label {
	margin-top: -20px;
}

statuspage.tl-with-badge.compact > scrolledwindow > viewport > box > label {
	margin-top: -10px;
}

statuspage.tl-with-badge.compact image.icon {
	-gtk-icon-size: 128px;
}

statuspage.tl-with-badge.compact title.label {
	font-size: 28pt;
}
